
body {
  margin: 0;
  background-color: #fffff0;
  font-family: Garamond, serif;
  font-size: 25px;
}


html{
    height:100%
}
#footer{
    background-color: #FFEBCD;
    position: sticky;
    bottom: 0;
    padding: 1%;
    margin-left: 7%;
    margin-right: 7%;
    width: 86%;
    height:auto;
}

#footer, #header, #menu{
    font-family: 'Georgia', serif;
}

#title{
    font-family: 'Georgia', serif;
    padding:0%;
    margin:0%;
}
#header{
    position:sticky;
    top: 0;
    margin-left: 7%;
    margin-right: 7%;
    width: 86%;
    background-color: #FFEBCD ;
}

#menu{
}

#menu_small, #menu_button{
    background-color: #FFEBCD;
    padding: 1%;
}

#menu_small{
    width:100%; 
}


#home-content{
    height:auto;
    margin-bottom: 80pt;
    margin-left:7%;
    margin-right: 7%;
    padding: 0;
    padding-top: 90pt;
    font-size: 15pt;
}


#menu_large a{
    margin: 3%;
}

#menu_large{
    padding-bottom: 1%;
}

a{
    text-decoration:underline;
    border-bottom: none;
    padding-bottom: .2pt;
}

#menu_large a, #menu_small a{
    text-decoration: underline;
    border-bottom: none;
}

a:hover{
    font-weight: bold;
    text-decoration: underline;
    padding-bottom: .2pt;
}

#image_home{
    padding: 15pt;
}
#menu_large a:hover{
    font-weight: bold;
    padding-bottom: .2pt;
}

#curr_menu{
    font-weight: bold;
    text-decoration: underline;
    padding-bottom: .2pt;
}

#menu_small a:hover, #menu_small .curr_menu{
    font-weight: bold;
    text-decoration: underline;
    padding-bottom: .2pt;
}

p.title_content{
    font-weight: bold;
}

.year_output ul li, .act_type ul li, {
    margin-bottom:3%;
}
